.contest-banner__container {
	position: relative;

	& img {
		aspect-ratio: 1920/460;
		display: block;
		height: auto;
		min-height: 280px;
		object-fit: cover;
		width: 100%;

		&.contest-banner--placeholder-image {
			max-height: 550px;
		}
	}

	& .contest-banner__content {
		color: var(--wp--custom--color--white);
		left: 50%;
		padding: var(--wp--custom--spacing--016);
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		z-index: 2;

		@media (--bp-medium) {
			width: 50%;
		}
	}

	& .contest-banner__title {
		font-size: var(--wp--custom--font-sizes--25);
		margin: 0;

		@media (--bp-large) {
			font-size: var(--wp--custom--font-sizes--31-39);
		}
	}

	& .contest-banner__subtitle {
		margin-bottom: 0;
		margin-top: var(--wp--custom--spacing--012);

		@media (--bp-medium-max) {
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&::after {
		background-color: rgba(0, 0, 0, 0.3);
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}
