.site-footer__menu-items {
	column-count: 1;
	column-gap: var(--wp--custom--spacing--040);
	list-style: none;
	margin: 0;
	padding: 0;

	& a {
		color: var(--wp--custom--color--black-alt);
		display: block;
		letter-spacing: 0.02em;
		margin-bottom: var(--wp--custom--spacing--016);
	}

	@media (--bp-xxlarge) {
		column-gap: var(--wp--custom--spacing--048);
	}

	@media (--bp-medium) {
		column-count: 3;

		& a {
			margin-bottom: var(--wp--custom--spacing--012);
		}
	}
}
