.wp-block-group {

	&.has-overlap {
		margin-bottom: calc(var(--overlap-amount) * -1) !important;
		padding-bottom: var(--overlap-amount) !important;
	}

	&.has-white-bars {
		background: var(--wp--custom--color--teal-light-gradient);
		padding: var(--wp--custom--spacing--032) 0;
		position: relative;

		@media (--bp-medium) {
			padding: var(--wp--custom--spacing--064) 0;
		}

		& > * {
			position: relative;
			z-index: 2;
		}

		&::after {
			background-image: linear-gradient(180deg, var(--wp--custom--color--white-25) 0, var(--wp--custom--color--white-25) 10px, transparent 10px, transparent 20px, var(--wp--custom--color--white-50) 20px, var(--wp--custom--color--white-50) 30px, transparent 30px, transparent 40px, var(--wp--custom--color--white-75) 40px, var(--wp--custom--color--white-75) 50px, transparent 50px, transparent 60px, var(--wp--custom--color--white) 60px, var(--wp--custom--color--white) 70px);
			content: "";
			height: 70px;
			position: absolute;
			top: 10px;
			width: 100%;
			z-index: 0;
		}
	}

	&.white-bars-should-rotate::after {
		left: calc(var(--wp--custom--spacing--032) * -1);
		transform: matrix(-0.99, -0.15, -0.15, 0.99, 0, 0);
		width: 140%;
	}

	&.white-bars-position-center::after {
		bottom: initial;
		top: 50%;
	}

	&.white-bars-position-top::after {
		bottom: 100%;
		top: initial;
	}

	&.white-bars-position-bottom::after {
		bottom: 10px;
		top: initial;
	}
}
